.centered-div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex; 
  gap: 4px; 
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.centered-div-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex; 
  gap: 4px; 
  justify-content: center;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}