.centered-div {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    gap: 4px; 
    justify-content: center;
    padding: 30px;
  }
  
  .centered-div-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    gap: 4px; 
    justify-content: center;
  }