.digit-container {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgb(163, 163, 163);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 32px;
  height: 50px; 
  overflow: hidden;
  padding-bottom: 4px;
}

.digit {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 43px;
  font-weight: bold;
}

.digit-enter {
  top: 100%;
}

.digit-enter-active {
  top: 0;
  transition: top 0.3s ease-out;
}

.digit-exit {
  top: 0;
}

.digit-exit-active {
  top: -100%;
  transition: top 0.3s ease-in;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .centered-div,
  .centered-div-btn {
      padding: 15px; /* Adjust padding */
      width: 100%; /* Ensure it takes full width */
  }

  .digit-container {
      width: 28px;
      height: 45px;
  }

  .digit {
      font-size: 35px;
  }
}